@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 10, 10);
    color: aliceblue;
}

#logo {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 700;
    font-variation-settings:
        "ROND" 0;
}

.material-symbols-outlined {
    background-color: rgb(10, 10, 10);
    color: rgb(68, 67, 67);
    font-size: 25px;
    /* padding: 0.3rem; */
    padding-top: 0.5rem;
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 40
}

.more {
    padding-right: 0.5rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0.9rem;
}

/*                FORM MODEL
############################################
############################################
############################################ 
*/

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: auto;
    margin: auto;
}

.wrapper-top-1 {
    height: 6vh;
}

.wrapper-top-2 {
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(17, 17, 17); */
    border-bottom: 0.01px solid rgb(58, 56, 56);
}

.wrapper-top-1 button,
.wrapper-top-1 button span {
    /* background-color: rgb(17, 17, 17); */
}

.priorty-date-wrapper {
    width: 30vw;
    display: flex;
    justify-content: space-between;

}

.priorty-btn {
    padding-right: 0.5rem;
}

.main-wrapper {
    height: 89vh;
    /* max-height: 88vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: scroll;
}

form input[type="text"] {
    margin: 0rem;
    width: 100vw;
    min-height: 5vh;
    padding: 0.8rem;
    padding-top: 1.4rem;
    padding-bottom: 0.2rem;
    padding-left: 0.8rem;
    border: 0px;
    font-size: 22px;
    font-weight: 500;
    background-color: rgb(10, 10, 10);
    color: rgb(215, 215, 215);
}

#editor {
    width: 100vw;
    flex-grow: 1;
    border: 0px solid black;
    padding: 0;
}

#editor .ql-editor {
    padding: 0.8rem;
    font-size: 16px;
}

#ql-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
}

#quill-toolbar {
    padding: 0.6rem;
    border: 0px solid black;
}

.ql-toolbar button svg {
    width: 22px !important;
    height: 22px !important;
}

#cancel {
    padding-left: 1rem;
    /* background-color: rgb(17, 17, 17); */
    border: 0px solid black;
}

#date,
#priorty {
    position: fixed;
    top: -1000px;
}

input:focus,
textarea:focus {
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: rgb(102, 100, 100);
}

.final-outer-wrapper {
    height: 6vh;
    background-color: rgb(10, 10, 10);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    border-top: 0.01px solid rgb(58, 56, 56);
}

.final-last-wrapper {
    width: 65vw;
    display: flex;
    overflow-x: scroll;
}

.last-wrapper {
    display: flex;
    justify-content: space-between;
}

.last-wrapper .material-symbols-outlined {
    padding-top: 0.1rem;
    padding-left: 0.5rem;
}

.ql-editor {
    color: rgb(215, 215, 215);
}

.ql-editor.ql-blank::before {
    color: #888;

}

.more {
    padding-right: 0.7rem;
}

form button {
    background-color: rgb(10, 10, 10);
    border: 0px solid black;
}

#add-btn {
    display: block;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    margin: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 30px;
    color: black;
    font-weight: bold;
    border-radius: 50px;
    border: 0px;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
}

.task-manager {
    height: 88vh;
    width: 100vw;
}

.task-id {
    height: 88vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.task-left,
.task-right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: visible;
    /* scrollbar-width: none;
    -ms-overflow-style: none; */
}

.task-left::-webkit-scrollbar .task-right::-webkit-scrollbar {
    display: none;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: visible;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0.8rem;
    margin: 0.2rem;
    width: 48vw;
    height: auto;
    min-height: 4rem;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    border: 2px solid rgb(146, 142, 142);
    font-size: 13px;
    color: rgb(215, 215, 215);
    box-sizing: border-box;
    flex-shrink: 0;
}

.task-left p,
.task-left h4,
.task-right p,
.task-right h4 {
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 0.1rem;
    height: auto;
    overflow-y: hidden;
    hyphens: auto;
    -webkit-hyphens: auto; 
    -ms-hyphens: auto;
}


.task-hidden {
    display: none;
}

.modal p::-webkit-scrollbar {
    display: none;
}

.dl {
    color: rgba(91, 46, 175, 0.459);
}


/* The Menu Modal starts From Here */
/* ################################# */

.menu-modal {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
}

.blur {
    height: 100vh;
    width: 40vw;
    background-color: rgba(15, 15, 15, 0.5);
}

.menu-toolbar {
    height: 100vh;
    width: 60vw;
    background-color: rgba(15, 15, 15, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-list {
    height: 93vh;
    width: 49vw;
    margin: auto;
    padding-left: auto;
    padding-top: auto;
    background-color: rgb(49, 49, 48);
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.menu-list .material-symbols-outlined {
    font-size: 50px;
    color: white;
}

menu a {
    position: relative;
    margin-left: auto;
    padding-right: 0.6rem;
    font-size: 15px;
    text-decoration: none;
    color: rgb(201, 198, 198);
}

menu a:hover,
menu a:active {
    text-decoration: underline;
}

.menu-list li {
    padding: 0.4rem 0rem 0.4rem 0rem;
}

.hidden-menu {
    display: none;
}

/* The Menu Modal Ends Here */
/* ################################# */